<!-- we can use the listData array to display -->
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <th>Employee Code</th>
        <th>Full Name</th>
        <th>Position</th>
        <th>Mobile</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
        <tr *ngFor="let emp of service.listData">
            <td (click)="editData(emp)">{{emp.EmpCode}}</td>
            <td (click)="editData(emp)">{{emp.FullName}}</td>
            <td (click)="editData(emp)">{{emp.EmpPosition}}</td>
            <td (click)="editData(emp)">{{emp.Mobile}}</td>
            <td><button (click)="deleteData(emp.EmpID)" class="btn btn-sm btn-outline-danger">x</button></td>
        </tr>
    </tbody>
</table>

